@page "/"
@using PersonalWebsiteBlazor.Logic
@using BootstrapBlazor.Components
@inject IDemoLogic logic
@inject ILogger<Index> logger
<PageTitle>About Me</PageTitle>

<head>

	
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Profolio Bootstrap 5 Template">
	<meta name="author" content="Dan Cohen">    
	<link rel="shortcut icon" href="favicon.ico"> 

	
	<!-- Google Fonts -->	
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	
	<!-- Bootstrpa Icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
	
	

	<!-- Theme CSS -->  
	<link id="theme-style" rel="stylesheet" href="assets/css/risen.css">

</head> 



	<div class="container-fluid">
			
			<div class="main-content-wrapper">
				<div class="container-fluid">
					<div class="top-bar text-center position-relative">
						<div class="top-bar-inner">
							
							
					
							<ul class="social-list list-inline mx-auto">
							<!--	<li class="list-inline-item me-0 me-md-1 me-lg-2"><a href="#"><i class="fa-brands fa-twitter fa-fw"></i></a></li>-->
								<li class="list-inline-item me-0 me-md-1 me-lg-2"><a href="https://github.com/dgc20"><i class="fa-brands fa-github fa-fw"></i></a></li>
								
								<li class="list-inline-item me-0 me-md-1 me-lg-2"><a href="https://www.linkedin.com/in/daniel-cohen-946365175/"><i class="fa-brands fa-linkedin-in fa-fw"></i></a></li>
								
								<!--<li class="list-inline-item me-0 me-md-1 me-lg-2"><a href="#"><i class="fa-brands fa-stack-overflow fa-fw"></i></a></li>-->
								
							</ul><!--//social-list-->
							
						</div><!--//top-bar-inner-->
						
					</div><!--//top-bar-->
			
					<div  class="resume-wrapper mx-auto rounded-2">
						<div class="resume-header px-4 px-lg-5">
							<div class="resume-profile-holder text-center">
								<img class="resume-profile-pic rounded-circle" height ="350" width="250"  src="photos/IMG_0511.PNG" alt="image">
								
								<h2 class="resume-name text-uppercase">Daniel Cohen</h2>
								<div class="resume-role-title text-uppercase">Data Engineer</div>
								<div class="resume-contact mt-4">
									<ul class="resume-contact-list list-unstyled list-inline mb-0 justify-content-between">
										<li class="list-inline-item me-md-3 me-lg-5"><i class="resume-contact-icon bi bi-telephone-inbound me-2"></i> 732-421-3797</li>
										<li class="list-inline-item me-md-3 me-lg-5"><i class="resume-contact-icon bi bi-envelope me-2"></i> DGC20@pitt.edu</li>
										<li class="list-inline-item me-lg-5"><i class="bi bi-linkedin"></i><a href="https://www.linkedin.com/in/daniel-cohen-946365175/">My LinkedIn</a> </li>
									</ul>
								</div><!--//resume-contact-->
							</div><!--//profile-holder-->
						</div><!--//resume-header-->
						
						<div class="resume-body p-4 p-lg-5">
							<div class="row">
								<div class="col-main col-12 col-lg-8 pe-lg-4">
									<section class="resume-summary-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-2 py-lg-3"><i class="resume-section-heading-icon bi bi-person me-2"></i>About Me</h3>
										<div class="resume-summary-desc">
										
											<div>
											I specialize in designing, implementing and maintaining scalable ETL and ELT data pipelines. I am currently at my role creating efficiencies for data flows while maintaining or improving data quality and integrity, and collaborate with various clients such as data scientists, analysts and project managers to ensure their data needs are supported. I have a breadth of experience with many technologies such as C#, SSIS, SQL, python, spark, and cloud platforms like Azure and GCP. My goal is to provide access to clean, quick, reusable data to help drive actionable insights in a ever increasing data driven world.
											</div>	
										</div>
										
									</section><!--//resume-section-->
									
									<hr>
									
									<section class="resume-experience-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-briefcase me-2"></i>Work Experience</h3>
										<div class="resume-timeline position-relative">
										    <article class="resume-timeline-item position-relative pb-5">
											    
											    <div class="resume-timeline-item-header mb-2">
												    
												    <div class="resume-position-meta d-flex justify-content-between mb-1">
													    <div class="resume-position-time">2020 - Present</div>
													    <div class="resume-company-name">Aetna a CVS Health Company</div>
												    </div>
											        <h3 class="resume-position-title mb-1">Data Engineer(Apr 2023) and Jr. Data Engineer</h3>

											    </div><!--//resume-timeline-item-header-->
											    <div class="resume-timeline-item-desc">
												 
												   
												    <ul class="resume-timeline-list">
													    <li> Ingested end-to-end health plan data directly from source team and developed and designed ETL pipelines
																into our Sql Server data mart as well as designed and developed ETL pipelines to different use cases
																including incremental CosmosDB loads to support client use cases including customer facing use cases
																using C# and SSIS packages.
														</li>
													    <li>Spearheading our migration into the cloud utilizing cost effective and architecture cloud solutions to
															migrate our data engineering processes and products while maintaining usability during migration. </li>
													    
													    <li>Pioneer best practices and solutions for integrating our pipelines and products to enterprise cloud
															environments developing ingress and egress, batch and incremental solutions in GCP and Azure with tools
															such as C#, SSIS, Airflow, and ADF.
														</li>
													    <li class="typewriter"> Critical in developing pipelines to clean up and extract value from high volume (15 Bill. rows) usable
																near-real time FHIR data from central BigQuery warehouse clinical data repository into our data mart and
															cached into our blazor server website to drive actionable insights into health equity disparities our case
																managers could take action on with our member base.
															</li>
															<li>
																 Designed, implemented and maintain 20+ ETL pipelines to normalize and merge raw data from various
																	sources including hadoop, flat files, web scrapes, and cloud warehouse tables across numerous healthcare
																domains into usable, clean data to supply our transactional datamart through MSSQL.
															</li>
												    </ul>
												    
											    </div><!--//resume-timeline-item-desc-->
		
										    </article><!--//resume-timeline-item-->
								    
										    <article class="resume-timeline-item position-relative pb-5">

											    <div class="resume-timeline-item-header mb-2">
												    
												    <div class="resume-position-meta d-flex justify-content-between mb-1">
													    <div class="resume-position-time">2020 - 2020</div>
													    <div class="resume-company-name">Aetna a CVS Health Company</div>
												    </div>
											        <h3 class="resume-position-title mb-1">Part-Time Data Engineer and Data Engineering Intern</h3>

											    </div><!--//resume-timeline-item-header-->
											    <div class="resume-timeline-item-desc">
												    <ul class="resume-timeline-list">
													    
													    <li>Saved the company around 7000$ in two months through data engine job automation.</li>
													    <li>Wrote, tested, and documented implementations of FTP jobs in C#.</li>
													    <li> Assisted in the implementation of an agile scrum environment to our data engine team, as well as currently
															help develop a more efficient process every sprint retrospective.</li>
															<li>  Received highest internship reviews from my managers about my performance by not only meeting but well exceeding expectations for interns.</li>
												    </ul>
												    
											    </div><!--//resume-timeline-item-desc-->
		
										    </article><!--//resume-timeline-item-->
										    <article class="resume-timeline-item position-relative">

											    <div class="resume-timeline-item-header mb-2">
												    
												    <div class="resume-position-meta d-flex justify-content-between mb-1">
													    <div class="resume-position-time">2019 - 2019</div>
													    <div class="resume-company-name">Bentley Systems</div>
												    </div>
											        <h3 class="resume-position-title mb-1">Software Engineering Intern</h3>

											    </div><!--//resume-timeline-item-header-->
											    <div class="resume-timeline-item-desc">
												    <ul class="resume-timeline-list">
													    
													    <li> Fixed issues related to the product in an efficient way, such as fixing SQL queries in two dialects while
viewing the optimized query plan to cut run time by 27 seconds or 90 %, and other bug fixes.</li>
													    <li>Wrote efficient, maintainable and traceable code which has important features for multiple customers
in topics revolving around user properties as well as file management and display changes.</li>
													    <li>Designed and implemented RESTful API’s for simple communication with the database for real time
updates for example moving files on a website without refreshing.</li>
													   
												    </ul>
												    
											    </div><!--//resume-timeline-item-desc-->
		
										    </article><!--//resume-timeline-item-->
							            </div><!--//resume-timeline-->
									</section><!--//resume-experience-section-->
								</div><!--//col-8-->
								<div class="col-12 col-lg-4 ps-lg-4">
									
									<section class="resume-skills-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-gear me-2"></i>Tech Stack</h3>
										
										<ul class="list-unstyled">
								        <li class="mb-2">
								            <div class="resume-skill-name"><i class="csharp-icon" ></i>C#</div>
											<div class="progress resume-progress" role="progressbar" aria-label="Basic example" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
											  <div class="progress-bar resume-progress-bar" style="width: 98%"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name"><i class="bi bi-filetype-sql"></i>MSSQL</div>
								            <div class="progress resume-progress" role="progressbar" aria-label="Basic example" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
											  <div class="progress-bar resume-progress-bar" style="width: 95%"></div>
											</div>
									        
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name"><i class="bi bi-diagram-2-fill"></i>
SSIS</div>
									        <div class="progress resume-progress" role="progressbar" aria-label="Basic example" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100">
											  <div class="progress-bar resume-progress-bar" style="width: 92%"></div>
											</div>
								        </li>
								        <li class="mb-2">
								            <div class="resume-skill-name"><i class="fa-brands fa-python"></i>Python</div>
									        <div class="progress resume-progress" role="progressbar" aria-label="Basic example" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100">
											  <div class="progress-bar resume-progress-bar" style="width: 86%"></div>
											</div>
								        </li>

							        </ul>
										
									</section><!--//resume-section-->
									
									<hr>
									
									<section class="resume-skills-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-person-gear me-2"></i>Tools and Skills</h3>
										<ul class="list-inline">
								            <li class="list-inline-item"><span class="badge resume-skill-badge">ETL and ELT pipeline development and design</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">API development</span></li>
											 <li class="list-inline-item"><span class="badge resume-skill-badge">Query Optimization and Cost Management</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge"> Web Development</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">Agile-Scrum</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">Database Management and
Design Distributed Systems</span></li>   <li class="list-inline-item"><span class="badge resume-skill-badge">Leadership</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">Tidal Enterprise Scheduler</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">TeamCity</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">Docker</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">PyCharm</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">AWS</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">Hive</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">Spark</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">Hadoop</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">BigQuery</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">Tez</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">CI\CD Deployment</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">DevOps</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">Database Design</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">Project Management</span></li>
											   <li class="list-inline-item"><span class="badge resume-skill-badge">Azure Cloud</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge"> Google Cloud Platform</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">Azure DevOps</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">Git</span></li>
								            <li class="list-inline-item"><span class="badge resume-skill-badge">Visual Studio</span></li>
											<li class="list-inline-item"><span class="badge resume-skill-badge">Jenkins</span></li>   
								       
										
								            
								            				           
							            </ul>
									</section><!--//resume-section-->
									
									<hr>
									
									<section class="resume-projects-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-code-slash me-2"></i>Projects</h3>
										
										<div class="item">
											<h4 class="item-heading"><i class="item-icon bi bi-github me-2"></i><a href="https://github.com/dgc20/PersonalWebsiteBlazor">Personal Website</a></h4>
											<div class="item-desc">
												You can link to your project Github page.
											</div>
										</div><!--//item-->
									
											
									</section>
									
									<hr>
									
									<section class="resume-educate-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-book me-2"></i>Education</h3>
										<ul class="list-unstyled">
										    <li class="mb-2">
										        <div class="resume-degree font-weight-bold">BS in Computer Science</div>
										        <div class="resume-degree-org">University of Pittsburgh</div>
										        <div class="resume-degree-time">2017-2020</div>
										    </li>
										  
									    </ul>
									</section><!--//resume-section-->
									
									<hr>
									
									<section class="resume-lang-section resume-section">
										<h3 class="resume-section-heading text-uppercase py-2 py-lg-3 py-3"><i class="resume-section-heading-icon bi bi-translate me-2"></i>Languages</h3>
										 <ul class="list-unstyled resume-lang-list">
										    <li class="mb-2">
										        <div class="resume-lang-name">English</div>
										        <div class="resume-level-indicator row gx-0 flex-nowrap">
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-full"></span></div>
											        <div class="col"><span class="item item-half"></span></div>
										        </div><!--//resume-level-indicator-->
										    </li>
										   
										</ul>
									</section>
									
									
									
								</div><!--//col-side-->
							</div><!--//row-->
					    </div><!--//resume-body-->
				    </div><!--//resume-wrapper-->
				</div><!--//container-fluid-->
			</div><!--//main-content-wrapper-->
		
		
		</div><!--//row-->
	
	<!--//container-->
@code{
    // private DemoLogic logic ;
    protected override void OnInitialized()
    {
        logger.LogInformation("Displaying valies of {Value1} and {Value2}", logic.Value1, logic.Value2);
        base.OnInitialized();
    }
}
